.footer-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:25px;
    width:100%;
    background-color:#353535;    
    position: absolute;
    bottom: 0;
}
.footer-element{
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px;
    color:aliceblue;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}
.footer-left a{
    margin-right: 15px;
}