.cnavbar{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#252525;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
    
}

.navbarItem{
    margin: 0px 10px;
    color: yellowgreen;
    text-decoration: none;
    font-variant: small-caps;
    font-family: 'Jura', sans-serif;    
    padding: 18px;
}
.cnavbar .active{
    color:aliceblue;
    cursor: default;
    border-bottom: 0px solid #b32022 !important;
}
.navbarItem:hover{
    border-bottom: 3px solid yellowgreen;
    transition: border-bottom 200ms;
}