
.side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #f3f3f3;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #00000026;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: #a7a7a7;
    color: #fff;    
    z-index: 1 !important;
  }
  .inside-btn{
    margin-right: -50px;
  }

  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  